# My Jupyter Notebook on IBM Watson Studio

## Hatim Alharbi

## Teacher

*I like data science because it is the future in we live*

# The below should print "My name is Hatim"

In [ ]:
Print("My name is Hatim")

## Horizontal rule
# Use three asterisks: ***

## Numbered list#
# Start with 1. followed by a space, then your text. Hit return and numbering is automatic. Start each line with some number and a period, then a space. Tab to indent to get subnumbering.


## tables
# Use this code:

# | Heading | Heading |
# | ----| ----|
# | text   | text |
# | text | text |